In [ ]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.10/dist-packages (1.1.2)

In [ ]:
import pandas as pd
import numpy as np
from apyori import apriori

In [ ]:
df = pd.read_csv('DATA.csv')
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             500 non-null    int64
 1   workclass       500 non-null    object
 2   fnlwgt          500 non-null    int64
 3   education       500 non-null    object
 4   education_num   500 non-null    int64
 5   marital_status  500 non-null    object
 6   occupation      500 non-null    object
 7   relationship    500 non-null    object
 8   race            500 non-null    object
 9   Gender          500 non-null    object
 10  capital_gain    500 non-null    float64
 11  capital_loss    500 non-null    float64
 12  hours_per_week  500 non-null    int64
 13  native_country  500 non-null    object
 14  income          500 non-null    object
dtypes: float64(2), int64(4), object(9)
memory usage: 58.7+ KB

In [ ]:
df = df.head(500).reset_index(drop=True)

In [ ]:
df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'Gender', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']

In [ ]:
# Drop rows with missing values
df = df.dropna()

df = df.replace({'?': np.nan, 0: np.nan})

mode_values = df.mode().iloc[0]

for col in df.columns:
    if df[col].dtype == 'object':
        df[col].fillna(mode_values[col], inplace=True)
    else:
        df[col].fillna(df[col].mean(), inplace=True)

In [ ]:
transactions = [[''.join(map(str, item)) for item in row.tolist()] for row in df[['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'Gender', 'native_country']].values]

In [ ]:
min_support = 0.5
min_confidence = 0.5

In [ ]:
rules = apriori(transactions, min_support=min_support, use_colnames=True)
filtered_rules = [rule for rule in rules if any(stat.confidence >= min_confidence for stat in rule.ordered_statistics)]

In [ ]:
print()
print("Apriori Algorithm Results:")
print()
for rule in filtered_rules:
  print(f"Rule: {rule.items} -> {rule.ordered_statistics[0].items_base} -> {rule.ordered_statistics[0].items_add}")
  print(f"Confidence: {rule.ordered_statistics[0].confidence}")
  print(f"Lift: {rule.ordered_statistics[0].lift}")
  print(f"Support: {rule.support}")
  print()
  print("-------------------------")
  print()

Apriori Algorithm Results:

Rule: frozenset({' Male'}) -> frozenset() -> frozenset({' Male'})
Confidence: 0.668
Lift: 1.0
Support: 0.668

-------------------------

Rule: frozenset({' Private'}) -> frozenset() -> frozenset({' Private'})
Confidence: 0.694
Lift: 1.0
Support: 0.694

-------------------------

Rule: frozenset({' United-States'}) -> frozenset() -> frozenset({' United-States'})
Confidence: 0.888
Lift: 1.0
Support: 0.888

-------------------------

Rule: frozenset({' White'}) -> frozenset() -> frozenset({' White'})
Confidence: 0.832
Lift: 1.0
Support: 0.832

-------------------------

Rule: frozenset({' United-States', ' Male'}) -> frozenset() -> frozenset({' United-States', ' Male'})
Confidence: 0.586
Lift: 1.0
Support: 0.586

-------------------------

Rule: frozenset({' Male', ' White'}) -> frozenset() -> frozenset({' Male', ' White'})
Confidence: 0.566
Lift: 1.0
Support: 0.566

-------------------------

Rule: frozenset({' United-States', ' Private'}) -> frozenset() -> frozenset({' United-States', ' Private'})
Confidence: 0.61
Lift: 1.0
Support: 0.61

-------------------------

Rule: frozenset({' Private', ' White'}) -> frozenset() -> frozenset({' Private', ' White'})
Confidence: 0.578
Lift: 1.0
Support: 0.578

-------------------------

Rule: frozenset({' United-States', ' White'}) -> frozenset() -> frozenset({' United-States', ' White'})
Confidence: 0.758
Lift: 1.0
Support: 0.758

-------------------------

Rule: frozenset({' United-States', ' Male', ' White'}) -> frozenset() -> frozenset({' United-States', ' Male', ' White'})
Confidence: 0.508
Lift: 1.0
Support: 0.508

-------------------------

Rule: frozenset({' United-States', ' Private', ' White'}) -> frozenset() -> frozenset({' United-States', ' Private', ' White'})
Confidence: 0.522
Lift: 1.0
Support: 0.522

-------------------------